// Generic styling.

* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

// Everything that is displayable should be within the current viewport. Scroll everything else.
body {
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    background: $background-color;
}