@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
        width: 960px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}

.block {
    display: block;

    &--inline {
        display: inline-block;
    }
}

.inline {
    display: inline;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.va-middle {
    vertical-align: middle;
}

.padded-s {
    padding: 0.25rem;
}

.padded {
    padding: 0.5rem;
}

.padded-xl {
    padding: 1rem;
}

.padded-xxl {
    padding: 2rem;
}

.spaced, .spaced-s {
    > * {
        display: inline-block;
    }

    > *:first-child {
        margin-left: 0;
    }

    > *:last-child {
        margin-right: 0;
    }
}

.spaced {
    > * {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.spaced-s {
    > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.stacked, .stacked-s {
    > * {
        display: block;
    }
}

.stacked-s {
    > * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.stacked {
    > * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.box {
    border: 1px solid;

    &--error {
        background: $error;
    }

    &--warning {
        background: $warning;
    }

    &--success {
        background: $success;
    }

    &--circle {
        border-radius: 50%;
    }

    &__title {
        text-align: center;
        border-bottom: 1px solid;
        margin-bottom: 1rem;
    }
}

.rounded {
    border-radius: 0.5rem;
}

input, textarea, button, select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    display: inline-block;
}

textarea {
    width: auto;
}

button {
    padding: 0.5rem 2rem;
    width: 100%;
}

input, textarea, select {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
}

input, button, select {
    max-width: 256px;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;

    &--center {
        right: 50%;
        transform: translateX(50%);

        &.fixed--middle {
            transform: translate(50%, -50%);
        }
    }

    &--middle {
        top: 50%;
        transform: translateY(-50%);
    }

    &--bottom {
        bottom: 0;
    }

    &--right {
        right: 0;
    }

    &--left {
        left: 0;
    }

    &--top {
        top: 0;
    }
}

.absolute {
    position: absolute;

    &--center {
        right: 50%;
        transform: translateX(50%);

        &.absolute--middle {
            transform: translateX(50%) translateY(-50%);
        }
    }

    &--middle {
        top: 50%;
        transform: translateY(-50%);
    }

    &--bottom {
        bottom: 0;
    }

    &--right {
        right: 0;
    }

    &--left {
        left: 0;
    }

    &--top {
        top: 0;
    }
}

.fullwidth {
    width: 100%;
}

.container.fullwidth {
    max-width: unset;
}

.halfwidth {
    width: 50%;
}

.fullheight {
    height: 100%;
}

.halfheight {
    height: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1;

    > * {
        width: inherit;
    }

    &.flex--fill {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__content {
        overflow: scroll;
        background-color: inherit;
    }
}

.flex {
    display: flex;

    &--inline {
        display: inline-flex;
    }

    &--fill {
        flex-grow: 1;
    }

    &--space-between {
        justify-content: space-between;
    }

    &--space-evenly {
        justify-content: space-evenly;
    }

    &--space-around {
        justify-content: space-around;
    }

    &--size-evenly > * {
        flex: 1;
    }

    &:not(.flex--column) {
        &.flex--center {
            justify-content: center;
        }

        &.flex--middle {
            align-items: center;
        }
    }

    > :not(.flex) {
        &.flex--center {
            justify-self: center;
        }

        &.flex--middle {
            align-self: center;
        }
    }

    &--column {
        flex-direction: column;

        > :not(.flex) {
            &.flex--center {
                align-self: center;
            }

            &.flex--middle {
                justify-self: center;
            }
        }

        &.flex--center {
            align-items: center;
        }

        &.flex--middle {
            justify-content: center;
        }
    }
}