body {
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5rem;
}

a {
    color: $primary-color;

    button {
        color: $font-color;
    }
}

a:hover {
    color: darken($primary-color, 5%);
}

body {
    font-family: $font-family;
    background-color: $background-color;
    color: $font-color;
}

button {
    background-color: $secondary-color;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
        background-color: darken($secondary-color, 5%);
    }

    &.primary {
        background-color: $primary-color;

        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }
}

button, input, select {
    height: 2.5rem;
}

input, textarea, select {
    color: initial;
    background-color: white;
    -webkit-appearance: none
}

button, input, textarea, select {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

input[type=checkbox] {
    width: auto;
    height: auto;
    border-radius: 5px;
    position: relative;

    &:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: $primary-color;
    }

    + label {
        margin-left: 0.5rem;
    }
}

label {
    + input[type=checkbox] {
        margin-left: 0.5rem;
    }
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.primary {
    background-color: $primary-color;
}

.text-primary {
    color: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.text-secondary {
    color: $secondary-color;
}