.slide-enter-active, .slide-leave-active {
    transition: max-height 1s;
    max-height: inherit;
}
.slide-enter, .slide-leave-to {
    max-height: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-hoz-enter-active, .slide-fade-hoz-leave-active {
    transition: all .3s ease;
}
.slide-fade-hoz-enter, .slide-fade-hoz-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-vert-enter-active, .slide-fade-vert-leave-active {
    transition: all .3s ease;
}
.slide-fade-vert-enter, .slide-fade-vert-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}