// Site wide variables. To be overridden in themes.

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Used on interactable elements, from most important to least.
$primary-color: #71cc52 !default;
$secondary-color: darken($primary-color, 10%) !default;
$tiertary-color: #123 !default;

$error: #ca2b2b !default;
$warning: #FFBF00 !default;
$success: green !default;

// Website wide default stlying.
$font-color: #fff !default;
$background-color: #0e0e0eeb !default;
$link-color: $primary-color;
$font-family: 'Raleway', sans-serif !default;