@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.slide-enter-active,
.slide-leave-active {
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  max-height: inherit;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  -webkit-animation: bounce-in .5s;
          animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-hoz-enter-active,
.slide-fade-hoz-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-hoz-enter,
.slide-fade-hoz-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-vert-enter-active,
.slide-fade-vert-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-vert-enter,
.slide-fade-vert-leave-to {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}

body {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5rem;
}

a {
  color: #71cc52;
}

a button {
  color: #fff;
}

a:hover {
  color: #61c63e;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #0e0e0eeb;
  color: #fff;
}

button {
  background-color: #56b536;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

button:hover {
  background-color: #4da230;
}

button.primary {
  background-color: #71cc52;
}

button.primary:hover {
  background-color: #61c63e;
}

button,
input,
select {
  height: 2.5rem;
}

input,
textarea,
select {
  color: initial;
  background-color: white;
  -webkit-appearance: none;
}

button,
input,
textarea,
select {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

input[type=checkbox] {
  width: auto;
  height: auto;
  border-radius: 5px;
  position: relative;
}

input[type=checkbox]:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #71cc52;
}

input[type=checkbox] + label {
  margin-left: 0.5rem;
}

label + input[type=checkbox] {
  margin-left: 0.5rem;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.primary {
  background-color: #71cc52;
}

.text-primary {
  color: #71cc52;
}

.secondary {
  background-color: #56b536;
}

.text-secondary {
  color: #56b536;
}

.hidden {
  display: none;
}

.visibly-hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1 !important;
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

.block {
  display: block;
}

.block--inline {
  display: inline-block;
}

.inline {
  display: inline;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.va-middle {
  vertical-align: middle;
}

.padded-s {
  padding: 0.25rem;
}

.padded {
  padding: 0.5rem;
}

.padded-xl {
  padding: 1rem;
}

.padded-xxl {
  padding: 2rem;
}

.spaced > *,
.spaced-s > * {
  display: inline-block;
}

.spaced > *:first-child,
.spaced-s > *:first-child {
  margin-left: 0;
}

.spaced > *:last-child,
.spaced-s > *:last-child {
  margin-right: 0;
}

.spaced > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.spaced-s > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.stacked > *,
.stacked-s > * {
  display: block;
}

.stacked-s > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.stacked > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box {
  border: 1px solid;
}

.box--error {
  background: #ca2b2b;
}

.box--warning {
  background: #FFBF00;
}

.box--success {
  background: green;
}

.box--circle {
  border-radius: 50%;
}

.box__title {
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

input,
textarea,
button,
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  display: inline-block;
}

textarea {
  width: auto;
}

button {
  padding: 0.5rem 2rem;
  width: 100%;
}

input,
textarea,
select {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

input,
button,
select {
  max-width: 256px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.fixed--center {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.fixed--center.fixed--middle {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.fixed--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fixed--bottom {
  bottom: 0;
}

.fixed--right {
  right: 0;
}

.fixed--left {
  left: 0;
}

.fixed--top {
  top: 0;
}

.absolute {
  position: absolute;
}

.absolute--center {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.absolute--center.absolute--middle {
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.absolute--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.absolute--bottom {
  bottom: 0;
}

.absolute--right {
  right: 0;
}

.absolute--left {
  left: 0;
}

.absolute--top {
  top: 0;
}

.fullwidth {
  width: 100%;
}

.container.fullwidth {
  max-width: unset;
}

.halfwidth {
  width: 50%;
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay > * {
  width: inherit;
}

.overlay.flex--fill {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay__content {
  overflow: scroll;
  background-color: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex--fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex--space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--size-evenly > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex:not(.flex--column).flex--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex:not(.flex--column).flex--middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > :not(.flex).flex--center {
  justify-self: center;
}

.flex > :not(.flex).flex--middle {
  -ms-flex-item-align: center;
      align-self: center;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--column > :not(.flex).flex--center {
  -ms-flex-item-align: center;
      align-self: center;
}

.flex--column > :not(.flex).flex--middle {
  justify-self: center;
}

.flex--column.flex--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--column.flex--middle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.force-fullwidth {
  width: 100% !important;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

body {
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  background: #0e0e0eeb;
}

