<template>
  <div class="overlay">
    <slot class="overlay__content"></slot>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
  .overlay {
    &--dark {
      background: #0e0e0eeb;
    }

    &--light {
      background: #0e0e0eeb;
    }
  }
</style>
