<template>
    <div class="popup absolute absolute--center absolute--middle">
        <div class="popup__content relative box padded-xxl text-center">
            <slot></slot>
            <v-touch :enabled="{tap:true}" @tap="onCloseClick()">
                <div class="popup__close">x</div>
            </v-touch>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        onCloseClick() {
            setTimeout(() => { this.$emit('close') });
        }
    }
}
</script>

<style lang="scss" scoped>
    .popup {
        overflow: hidden;
        color: #222;

        &__content {
            background: white;
        }

        &--error {
            color: red;
        }

        &__close {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            font-size: 1.5rem;
        }

        @media all and (min-width: 360px) {
            min-width: 360px;
        }
    }
</style>
