<template>
    <div class="stacked padded-xl">
        <div class="text-center">
            <h3 class="title">{{ $store.getters['account/name'] }}</h3>
            <h4>{{ $store.getters['account/email'] }}</h4>
        </div>
        <router-link to="/my/activity">
            <button class="primary">
                Your Activities
            </button>
        </router-link>
        <router-link to="/activity/find">
            <button class="primary">
                Find Activities
            </button>
        </router-link>
        <router-link to="/my/settings">
            <button class="primary">
                Settings
            </button>
        </router-link>
        <v-touch :enabled="{tap:true}" @tap="onLogout">
            <button class="primary">
                Log Out
            </button>
        </v-touch>
    </div>
</template>

<script>
export default {
    methods: {
        onLogout() {
            this.$store.dispatch('account/logout').then(() => {
                this.$router.push({path:'/login'});
            }).catch(err => {
                Logger.log(err);

                this.$store.commit('account/clear');
                this.$router.push({path:'/login'})
            });
        }
    }
}
</script>

<style scoped>

</style>
