<template>
    <div class="login stacked padded-xl">
        <div class="login__title">
            <img src="./img/logo.png" alt="Uplink Logo">
            <div class="login__title__helper">
                If you are registered as an Uplink Agent,
                enter your username and password below.
                Otherwise, click on the New User button.
            </div>
        </div>
        <form class="login__form" @keyup.enter="onLogin($event)" @submit.prevent>
            <div class="login__form__title">
                <h3>User Authentication Required</h3>
            </div>
            <div class="login__form__group">
                <div class="login__form__group__item">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="login__form__group__item">
                    <label for="code">Code</label>
                    <input type="text" id="code" name="code">
                </div>
            </div>
            <div class="login__form__submit">
                <button type="button" @click="onLogin($event)"></button>
            </div>
        </form>
        <div class="login__options">
            <div class="login__options__register">
                <label for="register"></label>
                <button type="button" id="register">
                    <img src="./img/home/register.png" alt="Register">
                </button>
            </div>
            <div class="login__options__options">
                <label for="options"></label>
                <button type="button" id="options">
                    <img src="./img/home/options.png" alt="Options">
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            errors: [],
            form: {
                email: '',
                password: '',
            },
            remember: false
        }
    },
    methods: {
        onLogin() {
            this.errors = [];

            axios.post('/api/login', this.form).then(resp => {
                Logger.log('Logged in!', resp);

                this.$store.commit('account/hydrate', {...resp.data.user, remember: this.remember});

                this.$router.push('/');
            }).catch(err => {
                Logger.log('Err!', err);
                if ('message' in err.response.data) {
                    this.errors.push({id:Util.makeid(8), message:err.response.data.message});
                }
                else {
                    for (let key in err.response.data) {
                        if (err.response.data.hasOwnProperty(key)) {
                            for (let i in err.response.data[key]) {
                                if (err.response.data[key].hasOwnProperty(i)) {
                                    this.errors.push({
                                        id: Util.makeid(8),
                                        message: err.response.data[key][i]
                                    })
                                }
                            }
                        }
                    }
                }
            });
        }
    }
}
</script>

<style lang="scss">
    .login {
        display: grid;

        &__title__helper {
            white-space: pre-wrap;
        }
    }
</style>
