<template>
    <form class="padded-xl" @submit.prevent @keyup="onKeyUp($event)">
        <h3 class="title center">Register</h3>
        <div class="stacked padded">
            <div class="error center padded rounded box" v-if="errors.length > 0">
                <ul class="items">
                    <li v-for="err in errors" :key="err.id">
                        {{ err.message }}
                    </li>
                </ul>
            </div>
            <input type="text" autocomplete="name" placeholder="Your Name" v-model="form.name" />
            <input type="email" autocomplete="username" placeholder="Email" v-model="form.email" />
            <input type="password" autocomplete="new-password" placeholder="Password" v-model="form.password" />
            <input type="password" autocomplete="new-password" placeholder="Confirm Password" v-model="form.passwordConfirm" />
            <v-touch tag="button" class="primary" :enabled="{tap:true}" @tap="register()">{{ buttonText }}</v-touch>
            <router-link to="/login">
                <button class="primary" value="Cancel">Cancel</button>
            </router-link>
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            errors: [],
            buttonText: 'Register',
            form: {
                name: '',
                email: '',
                password: '',
                passwordConfirm: '',
                remember: true
            }
        }
    },
    mounted() {
        if (this.$store.getters['account/isAuthenticated']) {
            this.$router.push({path:'/'});
        }
    },
    methods: {
        onKeyUp(e) {
        // If enter is pressed, submit.
            if (e.keyCode === 13) {
                this.register();
            }
        },
        register() {
            this.errors = [];
            this.buttonText = 'Please Wait...';

            if (this.form.password !== this.form.passwordConfirm) {
                this.errors.push({
                    id: Util.makeid(8),
                    message: 'The provided passwords do not seem to match'
                })
            }

            if (Util.empty(this.errors)) {
                axios.post('/api/users', this.form).then(resp => {
                    // TODO: Send email and don't automatically login.
                    this.$store.commit('account/hydrate', {...this.form, remember_token: resp.data.remember_token});

                    this.$router.push({path:'/'});
                }).catch(err => {
                    Logger.log(err.response);
                    if ('message' in err.response.data) {
                        this.errors.push({id:Util.makeid(8), message:err.response.data.message});
                    }
                    else {
                        for (let key in err.response.data) {
                            if (err.response.data.hasOwnProperty(key)) {
                                for (let i in err.response.data[key]) {
                                    if (err.response.data[key].hasOwnProperty(i)) {
                                        this.errors.push({
                                            id: Util.makeid(8),
                                            message: err.response.data[key][i]
                                        })
                                    }
                                }
                            }
                        }
                    }
                });
            }

            this.buttonText = 'Register';
        },
    }
}
</script>

<style lang="scss">

</style>